.Auctions {
    padding-bottom: 6rem;
}

.select {
    align-self: center !important;
}

.title {
    font-size: 3rem;
    line-height: 3.657rem;
    margin-top: 5.625rem;
    margin-bottom: 3.125rem;
}