@use "../../styles/colors.scss";

.TopCollectors {
    background-color: rgba(colors.$primary_main, 10%);
    padding-bottom: 7.125rem;
}

.select {
    align-self: center;
    margin-top: 1.5rem !important; // Quick fix

}

.title {
    font-size: 3rem;
    line-height: 3.657rem;
    margin-top: 4.438rem;
    margin-bottom: 2.875rem;
}