@use "../../styles/colors";

.User {
    overflow: hidden;
}

.user {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 0.8rem;
    line-height: .5rem;
}

.name {
    font-weight: 900;
    font-size: 1rem;
    color: colors.$text_primary;
    line-height: 1rem;
}

.info {
    line-height: 1rem;
    font-weight: bold;
    font-size: 0.875rem;
    color: colors.$secondary_main;
}