@use "../../styles/colors.scss";

.hero {
    padding-top: 5.5rem;
    height: 23rem;
    background-color: colors.$primary_main;

    .text {
        text-align: center;
        font-weight: 900 !important;
        font-size: 3.75rem !important;
        line-height: 4.571rem !important;
    }
}
