@use "../../styles/colors";

.card {
    border-radius: 1rem !important;
    background-color: colors.$background_paper !important;
}

.media {
    width: 90% !important;
    margin: auto;
    border-radius: 1rem;
}

.likes {
    color: colors.$secondary_main !important;
    border-color: colors.$secondary_main !important;
    margin: auto !important;
    float: right;
    border-width: 2px !important;

    span {
        padding-left: .5rem;
    }
}

.heart {
    color: colors.$secondary_main !important;
    transform: scale(0.7);
}

.title, .price{
    margin: 0;
    font-weight: bold;
}

.title {
    font-size: .9rem;
}

.price{
    color: colors.$secondary_main !important;
    font-size: .74rem;
}

.badge {
    position: absolute !important;
    top: .5rem;
    left: 1.5rem;
    color: colors.$background_paper !important;
    background-color: colors.$secondary_main !important;
    width: 3.5rem;
    border-radius: .3rem;
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;

    svg {
        transform: scale(0.6) !important;
    }
    
    span {
        font-weight: bold;
        margin-left: .8rem;
        margin-top: .1rem;
        transform: translate(0);
    }
}

.countdown {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    background-color: colors.$secondary_main !important;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    color: colors.$background_paper !important;
    font-weight: bold;
    padding: .2rem 0;
}