@use "../../styles/colors";

.Header {
    background-color: colors.$background_paper;
    padding: 1.125rem 0;
}

.searchInput {
    flex: 1;
    font-size: 1rem;
    margin-left: 0.25rem;
}

.searchIcon {
    padding: 2px;
    margin-left: 5px;
}

.searchPaper {
    background-color: colors.$background_default !important;
    align-self: center;
}

.menuItem {
    color: colors.$text_primary !important;
    font-size: 0.875rem !important;
    text-transform: none !important;
    align-self: center;
}
