@use "../../styles/colors";

.Header {
    display: flex;
    justify-content: center;
    background-color: colors.$background_paper;
}

.logo {
    width: 20px !important;
}

.searchInput {
    flex: 1;
}

.searchIcon {
    padding: 3px;
    margin-left: 5px;
}

.searchPaper {
    background-color: colors.$background_default !important;
}

.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.menuItem {
    color: colors.$text_primary !important;
    font-size: 8pt !important;
    text-transform: none !important;
}