@use "../../styles/colors";

.Footer {
    background-color: colors.$background_paper;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.menuItem {
    color: colors.$text_primary !important;
    font-size: .7rem !important;
    text-transform: none !important;
    align-self: center !important;
}

.rights {
    font-size: .8rem;
    align-self: center;
    width: 100%;
    text-align: center;
}