@use "../../styles/colors";

.How {
    margin: 2rem;
    background-color: colors.$background_paper;
    border-radius: 1rem;
}

.number {
    background-color: rgba(colors.$primary_main, 10%);
    color: colors.$text_primary;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 4.5rem;
    font-weight: bold;

    p {
        margin: 0;
    }
}

.main{
    background-color: colors.$background_paper;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 1.5rem;

    h2{
        font-size: .8rem;
        text-transform: uppercase;
        line-height: 1rem;
    }

    p{
        color: colors.$text_secondary;
        font-size: .7rem;
    }
}
